<% include partials/header %>

    <h1>
        <%= campground.name %>
    </h1>

    <img src="<%= campground.image %>">

    <p>
        <%= campground.description %>
    </p>
    <a href="/campgrounds">Back to all campgrounds</a>
    
<% include partials/footer %>
